body {
    font-family: arial, sans-serif;
    background-color: rgb(255, 255, 255);


}
h1 {

    color: rgb(59, 59, 59);
}
p {
    font-style: italic;
    color: rgb(41, 41, 41);
}

#divsection {
    background: rgb(247, 247, 247);
}
